:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --white-background: #FFFFFF;
    --blue-accent: #2196F3;
    --grey-text: #757575;
    --black-logo: #000000;
    --black-title-text: #212121;
}

body {
    font-family: var(--main-font);
    background-color: var(--white-background);
    color: var(--grey-text);
    max-width: 1600px;
    margin: 0px auto;
}

* {
    margin: 0;
    padding: 0;
}

/* header */

.header-description-container {
    box-sizing: border-box;
    width: 1600px;
    height: 80px;
    border-bottom: 1px solid #ECECEC;
}

.header-content {
    width: 1200px;
    height: 79px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.navigation-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 93px;
}

.header-logo {
    font-family: var(--secondary-font);
    color: var(--black-logo);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.in-logo {
    color: var(--blue-accent);
}

.main-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 46px;
}

.menu {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--black-title-text)
}

.menu:hover,
.menu:focus {
    color: #2196F3;
}

.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.header-contact {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
    gap: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--grey-text)
}
.header-contact:hover,
.header-contact:focus,
.header-contact svg:hover,
.header-contact svg:focus {
    color: #2196F3;
    fill: #2196F3;
}

.header-contact-icon {
    fill: #757575;
}

/* footer */
.section-footer {
    width: 1600px;
    height: 252px;
    background-color: #2F303A;
    padding-top: 60px;
    padding-left: 215px;
}

.footer-list {
    list-style: none;
}

.link-logo-footer {
    width: max-content;
    height: 31px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--white-background);
}

.web {
    color: var(--blue-accent);
}

.adress-footer {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--white-background);
}

.link-mail-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--grey-text);
}

.link-phone-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--grey-text);
}

.social-links-footer-list {
    list-style-type: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/* MAIN PAGE */
/* button with background */

.solutions {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(255, 255, 255, 0.1)),
            url(/goit-markup-hw-04/goit-markup-hw-04/images/background-image.svg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 1600px;
    height: 600px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 464px;
    padding-right: 464px;
    padding-top: 200px;
    padding-bottom: 200px;
    gap: 30px;
}

.title-solutions {
    color: var(--white-background);
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 671px;
    height: 120px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    line-height: 60px;
    font-size: 44px;
    font-weight: 900;
    letter-spacing: 0.06em;
}

.service-button {
    color: var(--white-background);
    background-color: var(--blue-accent);
    border-radius: 4px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
}

/* Strengths */

.strengths-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1170px;
    height: 101px;
    margin-top: 94px;
    margin-left: 215px;
    margin-right: 215px;
}

.strengths-item {
    width: 270px;
    height: 101px;

}

.strengths-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--grey-text);
}

.strengths-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--grey-text);
}

h3 {
    margin: 0;
}

/* scope */

.scope-title {
    width: max-content;
    height: 42px;
    margin-top: 94px;
    margin-left: 624px;
    margin-right: 624px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: justify;
    letter-spacing: 0.03em;
    color: var(--black-title-text);
}

.scope-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 215px;
    margin-right: 215px;
    gap: 30px;
}

/* team */

.section-team {
    background-color: #F5F4FA;
    width: 1600px;
    height: 648px;
    padding-top: 94px;
    margin-top: 94px;
}

.team-title {
    width: max-content;
    height: 42px;
    margin-left: 695px;
    margin-right: 695px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-title-text);
}

.team-list {
    width: 1170px;
    height: 368px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 215px;
    margin-right: 215px;
}

.team-item {
    width: 270px;
    height: 368px;
    background-color: var(--white-background);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.title-name {
    width: max-content;
    height: 19px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-title-text);
    margin-top: 30px;
    margin-left: 99px;
    margin-right: 99px;
}

.text-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 10px;
    color: var(--grey-text);
}
/* our clients */
.our-clients-list {
    list-style-type: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* PORTFOLIO */
/* filters */

.section-filters {
    box-sizing: border-box;
    width: 1600px;
    height: 182px;
}

.filters-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    padding-top: 100px;
}

.button-filters {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    background-color: #F5F4FA;
    cursor: pointer;
}

.button-filters:hover,
.button-filters:focus {
    color: var(--white-background);
    background-color: var(--blue-accent);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Portfolio */
.section-portfolio {
    box-sizing: border-box;
    width: 1170px;
    height: 1360px;
    margin-left: 215px;
    margin-right: 215px;
}

.section-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
}

.list-item {
    box-sizing: border-box;
    width: 370px;
    height: 404px;
    flex-basis: calc((100% - 60px)/3);
}

.list-item-container {
    box-sizing: border-box;
    width: 370px;
    height: 110px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    padding-left: 24px;
}

.list-item-title {
    width: 322px;
    height: 36px;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--black-title-text);
}

.list-item-text {
    width: 322px;
    height: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--grey-text);
}