:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --white-background: #FFFFFF;
    --blue-accent: #2196F3;
    --grey-text: #757575;
    --black-logo: #000000;
    --black-title-text: #212121;
    --light-grey-background: #F5F4FA;
    --icon-grey-fill: #AFB1B8;
}

body {
    font-family: var(--main-font);
    background-color: var(--white-background);
    width: 100%;
    /* margin: 0px auto; */
}

* {
    margin: 0;
    padding: 0;
}

.section {
    padding: 94px 0px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}

/* header */

.header {
    box-sizing: border-box;
    height: 80px;
    border-bottom: 1px solid #ECECEC;
    margin-top: 0;
    display: flex;
    align-items: center;
}

.navigation-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.navigation-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 93px;
}

.header-logo {
    font-family: var(--secondary-font);
    color: var(--black-logo);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.in-logo {
    color: var(--blue-accent);
}

.main-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 46px;
}

.menu {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--black-title-text)
}

.menu:hover,
.menu:focus {
    color: #2196F3;
}

.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.header-contact {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
    gap: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--grey-text)
}

.header-contact:hover,
.header-contact:focus,
.header-contact:hover svg {
    color: #2196F3;
    fill: #2196F3;
}

.header-contact-icon {
    fill: #757575;
}

/* MAIN PAGE */
/* button with background */

.solutions {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(255, 255, 255, 0.1)), url(./../images/background-image.svg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 106px 0px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-solutions {
    color: var(--white-background);
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 671px;
    height: 120px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    line-height: 60px;
    font-size: 44px;
    font-weight: 900;
    letter-spacing: 0.06em;
}

.service-button {
    color: var(--white-background);
    background-color: var(--blue-accent);
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 42px;   
    border: none;
    margin-top: 30px;
}

/* Strengths */

/* .section-strengths {
    width: 1170px;
    height: 251px;
    margin-top: 94px;
    margin-bottom: 94px;
    margin-left: 215px;
    margin-right: 215px;
} */

.strengths-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    gap: 30px;
}

.strengths-item {
    box-sizing: border-box;
    width: 270px;
    height: 251px;
}

.strengths-icon-group {
    background-color: var(--light-grey-background);
    box-sizing: border-box;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    padding: 25px 100px 25px 100px;
    margin-bottom: 30px;

}

.strengths-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--black-title-text);
    margin-bottom: 10px;
}

.strengths-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--grey-text);
}

/* scope */

.scope {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.scope-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align:center;
    letter-spacing: 0.03em;
    color: var(--black-title-text);
    margin-bottom: 50px;
}

.scope-list {
    /* width: 1170px; */
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}